attached_assets/ligature-basd-svg_1776916961528.zip filter=lfs diff=lfs merge=lfs -text
attached_assets/QPC_V2_Font_1776923730652.ttf filter=lfs diff=lfs merge=lfs -text
attached_assets/QPC_V2_Font_1776923770512.ttf filter=lfs diff=lfs merge=lfs -text
